<a href="https://colab.research.google.com/github/fedhere/PUS2022_FBianco/blob/main/classdemo/inclass_Ascombesqtet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [19]:
import numpy as np

In [12]:
ansc = pd.read_csv( "https://raw.githubusercontent.com/fedhere/" 
            "PUS2020_FBianco/master/data/anscombe.txt", 
            delimiter=" ", header =[1, 2]).iloc[:11, 1:9]

In [13]:
ansc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   (I, X)    11 non-null     float64
 1   (I, Y)    11 non-null     float64
 2   (II, X)   11 non-null     float64
 3   (II, Y)   11 non-null     float64
 4   (III, X)  11 non-null     float64
 5   (III, Y)  11 non-null     float64
 6   (IV, X)   11 non-null     float64
 7   (IV, Y)   11 non-null     float64
dtypes: float64(8)
memory usage: 832.0 bytes

In [14]:
ansc.describe()

               I                    II                   III             \
               X          Y          X          Y          X          Y
count  11.000000  11.000000  11.000000  11.000000  11.000000  11.000000
mean    9.000000   7.500909   9.000000   7.500909   9.000000   7.500000
std     3.316625   2.031568   3.316625   2.031657   3.316625   2.030424
min     4.000000   4.260000   4.000000   3.100000   4.000000   5.390000
25%     6.500000   6.315000   6.500000   6.695000   6.500000   6.250000
50%     9.000000   7.580000   9.000000   8.140000   9.000000   7.110000
75%    11.500000   8.570000  11.500000   8.950000  11.500000   7.980000
max    14.000000  10.840000  14.000000   9.260000  14.000000  12.740000

              IV
               X          Y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.030579
min     8.000000   5.250000
25%     8.000000   6.170000
50%     8.000000   7.040000
75%     8.000000   8.190000
max    19.000000  12.500000

In [18]:
ansc["I"]["Y"].mean()

7.500909090909093

In [21]:
np.median(ansc["I"]["Y"])

7.58